<%- include("partials/all_posts_header"); -%>

<% posts.forEach(function(element){ %>
<form action="/delete" method="post">
    <h1>
        <%= element.title %>
    </h1>
    
    <p>
        <%= element.content.substring(0, 100) + "..." %>
        <a href="/all_posts/<%=element._id%>" style="text-decoration: none;">Read More</a>
    </p>

    <% }); %>
</form>

<script>
    window.addEventListener('mouseover', initLandbot, {
        once: true
    });
    window.addEventListener('touchstart', initLandbot, {
        once: true
    });

</script>

<%- include("partials/footer"); -%>
